:root {
    --font-color: rgba(97, 105, 77, 1);
    --bg-color: rgba(233, 232, 225, 1);
}


*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    font-family: 'Noto Sans', sans-serif;
}
.container {
    width: 100%;                         
    max-width: 1280px;
    padding: 0 16px;
    position: relative;
}

.header {
    display: flex;
    flex-direction: column;
    padding:10px;
    height: 100px;
    gap: 10px;
    position: relative;
    overflow: hidden;
}
.header:after {
    content:"";
    position: absolute;
    bottom: 0;
    left:-16px;
    right: -16px;
    background-color: #000;
    z-index: 1;
    height: 1px;
}


.portfolio-text {
    font-size: 50px;
    font-weight: bold;
    color: var(--font-color);
}

.han-name {
    display: flex;
    justify-content: flex-end;
    font-size: 26px;
    font-weight: bold;
    color: var(--font-color);
}

.main-container {
    display: flex;
    flex-wrap: wrap;
   
}

.profile-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    /* border: 1px solid black; */
    gap: 10px;
}

.profile {
    color: var(--font-color);
    font-size: 30px;
    font-weight: 600;
    margin-top: 10px;

    
}

.profile-text-box {
    color : var(--font-color);
    font-size: 16px;
    line-height: 25px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    gap :20px;
    
    
}

.front {
    color : var(--font-color);
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;
}

.img-container {
   display: block;
   margin-left: 10px;
   
}

.profile-img {
    width: 100%;
    height: auto;
    margin-left: 20px;
}

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    /* border: 1px solid black; */
    width: 100%;
    max-width: 300px;

    
}

.contact-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 30px;
    color: var(--font-color);
    margin-bottom: 20px;
    
}
.contact {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    
       
}

.email,
.phone,
.github {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    
    color: var(--font-color);
    width: 200px;
    height: 300px;
    border: 1px solid black;
    box-sizing: border-box;
    
    

}

.banner-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    font-weight: 600;
   
    width: 200px;
    border-bottom: 1px solid black;
    box-sizing: border-box;
    padding: 10px;
    
    
}

.banner-imgbox {
   display: flex;
   flex-direction: column; 
   align-items: center;
   margin-top: 10px;
   width: 200px;
   height: 260px;
   animation: scrollUp 9s linear infinite;

}
.banner-track {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 100%;
    overflow: hidden;
    
}


.banner-img {
    height: 100%; 
    width: 150px;
    
}

@keyframes scrollUp {
    0% {

        transform: translateY(0);
    }
    100% {

        transform: translateY(-300px);
    }
}



.work-sports-container {
    width: 100%;
    max-width: 640px;
    display: flex;
    gap: 10px;
    
}

.work {
    display: flex;
    flex-direction: column;
    color: var(--font-color);
    gap: 15px;
    max-width: 50%;
}

.experience {
    font-size: 30px;
    font-weight: 600;
    margin-top: 10px;
}
.work-box {
    font-size: 16px;
    font-weight: 500;
    margin-left: 10px;
}

.kt,
.sky {
    display: flex;
    flex-direction: column;
    gap: 10px;
    line-height: 20px;
}



.customer {
    font-size: 20px;
    font-weight: 500;
    margin-left: 10px;
}

.sports {
    color: var(--font-color);
    display: flex;
}
.sports-box {
    display: flex;
    flex-direction: column;
    gap : 10px;
}
.sports-experience {
    font-size: 30px;
    font-weight: 600;
    margin-top: 10px;
}

.bowler {
    font-size: 16px;
    font-weight: 500;
    margin-left: 10px;;
    line-height: 20px;
}

.edu-skill-box {
    display: flex;
    
}

.skill-edu-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    
}

.education {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left:10px;
    gap: 10px;
    color: var(--font-color);
}

.edu-text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 30px;
    font-weight: 600;
}


.edu-text-box {
    font-size: 14px;
    font-weight: 500;
}

.skill {
    display: flex;
    flex-direction: column;
    color:var(--font-color);
    gap: 20px;
    margin-top: 10px;
    

}
.skill-text {
    font-size: 30px;
    font-weight: 600;
}


.skill-box {
    width: 150px;
    height: 100px; 
    position: relative;
    perspective: 1000px; 
    cursor: pointer;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
}

.skill-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s; 
    transform-style: preserve-3d; 
}


.skill-box:hover .skill-inner {
    transform: rotateY(180deg);
}


.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex; 
    justify-content: center;
    align-items: center;
    

    backface-visibility: hidden; 
    
    background-color: var(--bg-color); /* 배경색 지정 */
    border-radius: 10px;
}


.card-back {

    transform: rotateY(180deg);
}


.click-text {
    font-size: 16px;
    font-weight: bold;
}
.card-back p {
    font-size: 16px;
    font-weight: bold;
    color: var(--font-color);
}





.footer {
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 14px;
    height: 60px;
}


.top-box {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 90px;
    position: fixed;
    right: 26px;
    bottom: 80px;
    background-color: rgb(194, 194, 194);
    z-index: -1;
}

.top {
    position: fixed;
    right: 30px;
    bottom: 90px;
    font-size: 13px;
    
}

.footer {
    position: relative;
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
}

.footer::after {
    content: "";
    position: absolute;
    top: 0;      
    left: 0;     
    width: 100%; 
    height: 1px;
    background-color: black;
}




@media screen and (max-width:1280px) {

    .contact-box {
        margin-bottom: 20px;
    }

}

@media screen and (max-width: 767px) {
    .main-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .img-container {
        margin-top: 20px;
    }

    .skill {

        margin: 20px auto;
    }
    .profile-img {
        margin: 0 auto;
        padding-right: 5px;
    }
}

@media screen and (min-width: 873px ) and (max-width: 1279px) {
    .profile,
    .contact,
    .experience,
    .sports-experience,
    .edu-text,
    .skill-text {
        font-size: 30px;
    }
}

@media screen and (max-width: 500px) {
    .profile,
    .contact,
    .experience,
    .sports-experience,
    .edu-text,
    .skill-text {
        font-size: 25px;
    }
    
    .portfolio-text {
        font-size : 30px;
    }
    .han-name {
        font-size: 23px;
        padding-top: 15px;
    }
   
}

