:root {
    --font-color: rgba(97, 105, 77, 1);
    --bg-color: rgba(233, 232, 225, 1);
}


*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    font-family: 'Noto Sans', sans-serif;
}
.container {
    width: 100%;                         
    max-width: 1280px;
    
    padding: 0 16px;
}

.header {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    position: relative;
}
.header:after {
    content:"";
    position: absolute;
    bottom: 0;
    left:-16px;
    right: -16px;
    background-color: #000;
    z-index: 1;
    height: 1px;
}

.portfolio {
    font-size: 26px;
    font-weight: bold;
    color: var(--font-color);
}

.han-name {
    display: flex;
    justify-content: flex-end;
    font-size: 16px;
    font-weight: bold;
    color: var(--font-color);
}

.main-container {
    display: flex;
    flex-wrap: wrap;
   
}

.profile-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    /* border: 1px solid black; */
    gap: 10px;
}

.profile {
    color: var(--font-color);
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;

    
}

.profile-text-box {
    color : var(--font-color);
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    gap :10px;
    
}

.front {
    color : var(--font-color);
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;
}

.img-container {
   display: block;
   margin-top: 5px;
   
}

.profile-img {
    width: 100%;
    height: auto;
    
}

.contact-container {
    display: flex;
    text-align: center;
    margin-top: 10px;
    /* border: 1px solid black; */
    width: 100%;
    max-width: 300px;

    
}

.contact-box {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-left: 30px;
    color: var(--font-color);
    
}
.contact {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
   
}

.email,
.phone,
.github {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

.work-sports-container {
    width: 100%;
    max-width: 640px;
    border: 1px solid black;
    display: flex;
    gap: 10px;
    
}

.work {
    display: flex;
    flex-direction: column;
    color: var(--font-color);
    gap: 15px;
    max-width: 50%;
}

.experience {
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
}
.work-box {
    font-size: 16px;
    font-weight: 500;
    margin-left: 10px;
}

.kt,
.sky {
    display: flex;
    flex-direction: column;
    gap: 10px;
    line-height: 20px;
}


.customer {
    font-size: 20px;
    font-weight: 500;
    margin-left: 10px;
}

.sports {
    color: var(--font-color);
    display: flex;
}
.sports-box {
    display: flex;
    flex-direction: column;
    gap : 10px;
}
.sports-experience {
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
}

.bowler {
    font-size: 16px;
    font-weight: 500;
    margin-left: 10px;;
    line-height: 20px;
}

.skill-edu-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 100%;
    
}

.education {
    display: flex;
    flex-direction: column;
    margin: 10px 0 0 10px;
    gap: 20px;
    color: var(--font-color);
}

.edu-text {
    font-size: 20px;
    font-weight: 600;
}

.edu-text-box {
    font-size: 16px;
    font-weight: 500;
}

.skill {
    display: flex;
    flex-direction: column;
    color:var(--font-color);
    margin: 20px 0 0 10px;
    gap: 20px;
    

}
.skill-text {
    font-size: 20px;
    font-weight: 600;
}


.skill-box {
    width: 150px;
    height: 100px; 
    position: relative;
    perspective: 1000px; 
    cursor: pointer;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
}

.skill-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s; 
    transform-style: preserve-3d; 
}


.skill-box:hover .skill-inner {
    transform: rotateY(180deg);
}


.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex; 
    justify-content: center;
    align-items: center;
    

    backface-visibility: hidden; 
    
    background-color: var(--bg-color); /* 배경색 지정 */
    border-radius: 10px;
}


.card-back {

    transform: rotateY(180deg);
}


.click-text {
    font-size: 16px;
    font-weight: bold;
}
.card-back p {
    font-size: 16px;
    font-weight: bold;
    color: var(--font-color);
}
