.container {
  width: 100%;
}

.top-add { 
  width: 100%;
  height: 30px;
  background-color: #ff2e73;
  background: #ff2e73 url("https://sui.ssgcdn.com/cmpt/banner/202510/2025102909550283787098074809_91.png") no-repeat center/cover;

  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  font-size: 12px;
  font-weight: 700;
}


.top-add .close-btn {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: white;
  font-size: 12px;
  cursor: pointer;
}

.container-inner {
  max-width: 1280px;
  margin: 0 auto;         
  padding: 0 32px;        
  box-sizing: border-box; 
}


.main-header {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;   
  min-width: 0;       
  padding: 20px 0;
}


.brand {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  flex-shrink: 0;  
}

.slogan {
  font-size: 12px;
  color: #555;
  margin-bottom: 4px;
}

.logo > img {
  display: block;
  height: 20px;
}


.mall-nav {
  display: flex;
  align-items: center;
  margin-left: 8px;
  flex-shrink: 0;
}

.mall-nav ul {
  display: flex;
  gap: 16px;
  list-style: none;
  margin: 0;
  padding-top: 15px;
  color: gray;
  font-size: 10px;
  white-space: nowrap;
}

a{
    color: gray;
    text-decoration: none;
}


.search-area {
    display: flex;
    align-items: center;
    gap: 16px;

    margin-left: auto;  

    justify-content: flex-end; 
    flex-shrink: 0;           
}

.search-box {
  position: relative;
  display: flex;
  align-items: center;

  flex: 1;       
  min-width: 180px; 
  max-width: 380px;
}

.search-box input {
  width: 100%;
  height: 40px;
  padding: 0 40px 0 12px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 14px;
  border-radius: 4px;
}

.search-icon {
  position: absolute;
  right: 12px;
  width: 18px;
  cursor: pointer;
}


.icon-btn {
  background: none;
  border: none;
  padding: 4px;
  cursor: pointer;
  flex-shrink: 0; 
}

.icon-btn img {
  width: 22px;
  height: 22px;
  display: block;
}


.global-nav {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;   
  min-width: 0;
  padding: 0;
  height: 48px;
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
  font-size: 13px;
  background-color: #ffffff;
}


.all-category {
  display: flex;
  align-items: center;
  margin-right: 16px;
  flex-shrink: 0;
}

.all-category a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
}

.all-category img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


.gnb-left,
.gnb-right {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}



.gnb-left {
  gap: 20px;
  white-space: nowrap; 
}

.gnb-left li a {
  text-decoration: none;
  color: #222;
  font-size: 13px;
}



.gnb-right {
  margin-left: auto;
  gap: 12px;
  white-space: nowrap;
}

.gnb-right li a {
  text-decoration: none;
  color: #777;
  font-size: 12px;
}

